<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON-BREAD</title>
</head>

<link rel="stylesheet" href="/css/style.css">
</link>

<body class="body">
    <div class="container">
        <form action="search" method="POST">

            <div class="judul">
                <h1>BREAD (Browse, Read, Add, Edit, Delete)</h1>
                <h2>Filters</h2>
            </div>

            <div class="check">

                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkid">ID
                </label>
                <input class="rowinput" id="masukan" type="text" placeholder="ID" name="index">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1">String
                </label>
                <input class="rowinput" type="text" placeholder="String" name="string">

            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1">Integer
                </label>
                <input class="rowinput" id="masukan" type="text" placeholder="Integer" name="integer">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1">Float
                </label>
                <input class="rowinput" id="masukan" type="text" placeholder="Float" name="float">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1">Date
                </label>
                <input class="rowdate" id="masukan" type="date" placeholder="Date" name="date">
                <p class="rowdate2">To</p>
                <input class="rowdate1" id="masukan" type="date" placeholder="Date" name="date">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1">Boolean
                </label>
                <select class="rowboolean" name="boolean">
                    <option value="" selected>Choose the boolean ...</option>
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
            </div>

            <button class="tapcari">Search</button>

        </form>

        <div>
            <table class="column">
                <thead>

                    <tr>
                        <th>ID</th>
                        <th>String</th>
                        <th>Integer</th>
                        <th>Float</th>
                        <th>Date</th>
                        <th>Boleean</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody style="width: 100%; background-color: whitesmoke; color: black; ">
                    <% data.forEach((item, index)=>{ %>
                        <tr class="valfont">
                            <th>
                                <%= index + 1 %>
                            </th>

                            <td class="valfont" style="font-weight: bolder;">
                                <%= item.string %>
                            </td>

                            <td class="valfont">
                                <%= item.integer %>
                            </td>

                            <td class="valfont">
                                <%= item.float %>
                            </td>

                            <td class="valfont">
                                <%= item.date %>
                            </td>

                            <td class="valfont">
                                <%= item.boolean %>
                            </td>

                            <td class="valfont" style="text-align: center;">
                                <a href="edit/<%= index %>">
                                    <button class="butt">Edit</button>
                                </a>
                                <a href="delete/<%= index %>">
                                    <button class="buttdel">Delete</button>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
    
        </div>

        <div>
            <a href="add">
                <button class="addbut">Add</button>
            </a>
        </div>


    </div>
</body>

</html>