<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON-BREAD</title>
</head>

<link rel="stylesheet" href="/css/style.css">
</link>

<body class="body">
    <div class="container">
        <form action="" method="GET">
            <input type="hidden" name="page" value="1">
            <input type="hidden" name="search" value="true">

            <div class="judul">
                <h1>BREAD (Browse, Read, Add, Edit, Delete)</h1>
                <h2>Filters</h2>
            </div>


            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkid" <%=query.checkid=="on"
                        ? "checked" : "" %>>ID
                </label>
                <input class="rowinput" id="masukan" type="text" placeholder="ID" name="index" value="<%=query.index%>">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkString"
                        <%=query.checkString=="on" ? "checked" : "" %>>String
                </label>
                <input class="rowinput" type="text" placeholder="String" name="string" value="<%= query.string%>">

            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkInteger"
                        <%=query.checkInteger=="on" ? "checked" : "" %>>Integer
                </label>
                <input class="rowinput" id="masukan" type="text" placeholder="Integer" name="integer"
                    value="<%=query.integer%>">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkFloat"
                        <%=query.checkFloat=="on" ? "checked" : "" %>>Float
                </label>
                <input class="rowinput" id="masukan" type="text" placeholder="Float" name="float"
                    value="<%= query.float%>">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkDate" <%=query.checkDate=="on"
                        ? "checked" : "" %>>Date Range
                </label>
                <input class="rowdate" id="masukan" type="date" placeholder="Date" name="start_date"
                    value="<%= query.start_date %>">
                <p class="rowdate2">To</p>
            </div>
            <div class="check">
                <input class="rowdate" id="masukan" type="date" placeholder="Date" name="end_date"
                    value="<%= query.end_date %>">
            </div>

            <div class="check">
                <label for="exampleCheck1" class="">
                    <input class="checkbox" type="checkbox" id="exampleCheck1" name="checkBoolean"
                        <%=query.checkBoolean=="on" ? "checked" : "" %>>Boolean
                </label>
                <select class="rowboolean" name="boolean">
                    <option value="" selected disabled>
                        <%=query.boolean? query.boolean.replace(query.boolean[0],query.boolean[0].toUpperCase()):null
                            || "Choose the boolean ..." %>
                    </option>
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                <input type="hidden" name="sorter" value="<%= query.sorter%>">
            </div>

            <button class="tapcari">Search</button>
            <a href="/" class="tapcari">
                Reset
            </a>

        </form>
        <div class="check">
            <form action="" method="get">
                <input type="hidden" value="1" name="page">
                <input type="hidden" value="<%=query.checkid%>" name="checkId">
                <input type="hidden" value="<%=query.index%>" name="index">
                <input type="hidden" value="<%=query.checkString%>" name="checkString">
                <input type="hidden" value="<%=query.string%>" name="string">
                <input type="hidden" value="<%=query.checkInteger%>" name="checkInteger">
                <input type="hidden" value="<%=query.integer%>" name="integer">
                <input type="hidden" value="<%=query.checkFloat%>" name="checkFloat">
                <input type="hidden" value="<%=query.float%>" name="float">
                <input type="hidden" value="<%=query.checkDate%>" name="checkDate">
                <input type="hidden" value="<%=query.start_date%>" name="start_date">
                <input type="hidden" value="<%=query.end_date%>" name="end_date">
                <input type="hidden" value="<%=query.checkBoolean%>" name="checkBoolean">
                <input type="hidden" value="<%=query.boolean%>" name="boolean">
                <input type="hidden" value="true" name="search">
                <select name="sorter" id="sort" class="rowdate" onchange="this.form.submit()">
                    <%if(!(query.sorter)){%>
                        <option value="">Sort By</option>
                        <%listSorter.forEach(({value,name})=>{%>
                            <option value="<%=value%>">
                                <%=name%>
                            </option>
                            <%})%>
                                <%}else{listSorter.forEach(({value,name})=>{%>
                                    <option value="<%=value%>" <%=value==query.sorter ? 'selected' : '' %>><%=name%>
                                    </option>
                                    <%})%>
                                        <%}%>
                </select>
                <select name="limit" id="limit" class="rowdate" onchange="this.form.submit()">
                    <%if(!(query.limit)){%>
                        <%listLimit.forEach(({value,name})=>{%>
                            <option value="<%=value%>">
                                <%=name%>
                            </option>
                            <%})%>
                                <%}else{listLimit.forEach(({value,name})=>{%>
                                    <option value="<%=value%>" <%=value==query.limit ? 'selected' : '' %>><%=name%>
                                    </option>
                                    <%})%>
                                        <%}%>
                </select>
            </form>
        </div>
        <div class="box-table">
            <table class="column">
                <thead>

                    <tr>
                        <th>ID</th>
                        <th>String</th>
                        <th>Integer</th>
                        <th>Float</th>
                        <th>Date</th>
                        <th>Boleean</th>
                        <th style="text-align: center;">Action</th>
                        <th style="text-align: center;"></th>
                    </tr>
                </thead>
                <tbody style="width: 100%; background-color: whitesmoke; color: black; ">
                    <% if(data.length){%>
                        <% data.forEach((item, index)=>{ %>
                            <tr class="valfont">
                                <th>
                                    <%= item.index +1 %>
                                </th>

                                <td class="valfont" style="font-weight: bolder;">
                                    <%= item.string %>
                                </td>

                                <td class="valfont">
                                    <%= item.integer %>
                                </td>

                                <td class="valfont">
                                    <%= item.float %>
                                </td>

                                <td class="valfont">
                                    <%= item.date %>
                                </td>

                                <td class="valfont">
                                    <%= item.boolean %>
                                </td>
                                <td class="valfont" style="text-align: center;">
                                    <form action="/edit/<%= item.index + 1 %>" method="get">
                                        <button class="butt" type="submit">Edit</button>
                                        <input type="hidden" name="url" value="<%=url%>">
                                    </form>
                                </td>
                                <td class="valfont" style="text-align: center;">
                                    <a href="delete/<%= item.index  + 1%>">
                                        <button class="buttdel">Delete</button>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                                <% }else{ %>
                                    <td colspan="8">Data Tidak Ditemukan</td>
                                    <tr>
                                    </tr>
                                    <% }; %>
                </tbody>
            </table>
        </div>
        <nav>

            <ul class="pagination">
                <li class="page-item<%= page == 1 ? ' disabled' : '' %>">
                    <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page - 1}`) %>"
                        aria-label="previous">Prevous</a>
                </li>

                <% for(let i=1; i<=pages; i++){ %>
                    <li class="page-item<%= i == page ? ' active' : '' %>">
                        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                            <%= i %>
                        </a>
                    </li>
                    <% } %>
                        <li class="page-item<%= page === pages || pages==0 ? ' disabled' : '' %>">
                            <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page + 1}`) %>"
                                aria-label="previous">Next</a>
                        </li>
            </ul>
        </nav>
        <div class="row">
            <form action="/add" method="get">
                <div>
                    <button type="submit" class="addbut">Add</button>
                    <input type="hidden" name="url" value="<%= url%>" />
                </div>
            </form>
            <a href="/todo">
                <button class="addbut">
                    <span>Todo</span>
                </button>
            </a>
        </div>
    </div>
</body>

</html>